body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Padauk', sans-serif;
}

p {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.section_title {
  font-size: 18px;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.section_title::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 39%;
  background: #00fcff;
  bottom: 0;
  z-index: -1;
}

.section_divider {
  margin: 50px auto;
}

.section_svg {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.lighting {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/inspire.png");
  background-size: cover;
}

.lighting button {
  width: 58px;
  height: 72px;
  border-radius: 37px;
  border: 0px;
  font-size: 25px;
  color: white;
  line-height: 72px;
  background: linear-gradient(145deg, #53ffff, #46e6e4);
  -webkit-box-shadow: 10px 10px 11px #45e3e1, -10px -10px 11px #57ffff;
          box-shadow: 10px 10px 11px #45e3e1, -10px -10px 11px #57ffff;
}

.lighting button i {
  position: relative;
}

.lighting button i:after {
  position: absolute;
  content: 'TOUCH';
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 126%;
  font-size: 12px;
  color: white;
}

.lighting button:active {
  outline: none;
}

.cake {
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  z-index: 10;
  overflow: hidden;
}

.cake .up {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 130%;
  z-index: 11;
}

.cake .up::after {
  position: absolute;
  content: 'touch me!';
}

.cake marquee {
  display: inline;
}

.hero-wrapper {
  background-image: url("../images/hero.png");
  height: 300px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.hero-wrapper .hero-text {
  color: white;
  margin-right: 14px;
  font-size: 20px;
  text-align: center;
}

.fav_photo_wrapper .card {
  padding: 0px;
  max-width: 159px;
  margin: 0 auto;
  border: 0px;
  overflow: hidden;
}

.fav_photo_wrapper .card .fav_img_wrapper {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.fav_photo_wrapper .card .fav_img_wrapper .fav_img_overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00fffc, #00fcff4a);
  position: absolute;
  top: 0;
}

.fav_photo_wrapper .card .card-body {
  padding: 0;
  text-align: center;
}

.fav_photo_wrapper .card .view {
  background: #FF5722;
  color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.fav_photo_wrapper .card .modal-content {
  background-image: url("../images/modal_bg.svg");
}

.fav_photo_wrapper .card .modal-content img {
  border-radius: 10px !important;
}

.wish_wrapper .owl-carousel .owl-item {
  width: 140px !important;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.wish_wrapper .owl-carousel .item {
  width: 100%;
  height: 100%;
  background: #00fcff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */